@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --primary: #516eff;
    --lightprimary: #0056b3;
    --white: #ffffff;
    --silver: #bcbcbc9e;
    --defaultLinkColor: #333;
    --yellow: #FFD700;
    --muted:#777777;
    --whiteBG: #F8FAFC;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style-type: none;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Poppins", sans-serif;
}
ul {
    list-style: none;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End global rules */
/* Start header */
header {
    width: 100%;
    padding-top: 3px;
}
header .container {
    /* width: 86%; */
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 59.73px;
}
header .logo img {
    width: 120px;
}
header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
@media (min-width: 768px) {
    #show {
        display: none;
    }
    .side_bar {
        display: none;
    }
    header .container {
        width: 86%;
    }
}
header nav ul {
    display: flex;
    margin-right: 40px;
}
@media (max-width: 767px) {
    header button {
        display: flex;
    }
    .hideOnMobile {
        display: none;
    }
    header .container {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #show {
        margin-right: -53px;
    }
    .side_bar .animation:hover {
        padding-left: 25px;
        background-color: rgba(255, 255, 255, 0.957);
    }
}
header nav ul li a {
    padding: 20px 10px;
    margin-right: 10px;
    display: block;
    color: var(--muted);
    text-decoration: none;
    transition: 0.3s;
    position: relative;
    z-index: 2;
    font-size: 14px;
}
header nav ul li a:hover {
    color: var(--primary);
    font-size: 14px;
    border-bottom: 2px solid var(--primary);
}
header button {
    width: 75px;
    height: 33px;
    border: none;
    border-radius: 4px;
    background-color: var(--primary);
    color: var(--white);
    cursor: pointer;
    transition: 0.3s;
}
@media (max-width: 767px) {
    header button {
        display: none;
    }
    header nav .toggle_menu:hover + ul {
        display: flex;
        cursor: pointer;
        flex-direction: column;
        position: absolute;
        top:  100%;
        left: 180px;
        width: 200px;
        background-color: rgba(255, 255, 255, 0.902);
        color: #333;
        border: 1px solid var(--muted);
        padding: 0px;
        z-index: 5;
        border-radius: 4px;
    }
}
header button:hover {
    background-color: var(--white);
    border: 1px solid var(--primary);
    color: var(--primary);
}
.header_separator {
    background-color: var(--silver);
    height: 1px;
    width: 100%;
}
.side_bar {
    position: fixed;
    top: 0;
    right: -39px;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.861);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.side_bar li {
    width: 100%;
}
.side_bar a {
    width: 100%;
} 
/* End header */
/* Start Section 1 */
.section1 {
    width: 84%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    bottom: 10px;
    margin-top: 10px;
}
@media (min-width: 768px) {
    .section1 .left h1 {
        font-size: 35px;
        line-height: 45px;
    }
    .section1 .left {
        width: 50%;
        padding-top: 20px;
    }
    .btns_parent button {
        min-width: 165px;
        height: 33px;
        font-size: 12px;
        margin-top: 20px;
    }
    .section1 .right img {
        max-width: 470px;
    }
    .section1 .right {
        width: 50%;
    }
}
@media (max-width: 767px) {
    .section1 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .section1 .left h1 {
        font-size: 28px;
        line-height: 30px;
    }
    .section1 .left {
        width: 80%;
        padding-top: 45px;
    }
    .section1 .right {
        width: 100%;
    }
    .btns_parent button {
        height: 30px;
        font-size: 12px;
    }
    .section1 .right {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .section1 .right img {
        max-width: 80%;
    }

}
@media (max-width: 477px) {
    .section1 .left h1 {
        font-size: 20px;
        line-height: 30px;
    }
    .section1 .left h1 span {
        font-size: 20px !important;
    }
    .section1 .left {
        width: 80%;
        padding-top: 30px;
    }
    .section1 .left p {
        max-width: 220px
    }
    .btns_parent button {
        max-width: 130px;
        width: 145px;
        height: 25px;
        font-size: 11px;
    }
    .btns_parent button {
        height: 31px;
    }
    .section1 .right {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section1 .right img {
        max-width: 80%;
    }
}
.section1 .left h1 {
    color: var(--defaultLinkColor);
}
.section1 .left h1 span {
    font-size: 30px;
    color: var(--yellow);
}
.section1 .right {
    display: flex;
    align-items: center;
    padding-top: 33px;
    
}
.section1 .right img {
    border-radius: 30px;
}
.section1 .left p {
    font-size: 13px;
    color: var(--muted);
}
#p1 {
    margin-top: 14px;
    margin-bottom: 2px;
}
.btns_parent button {
    margin-top: 35px;
    margin-right: 35px;
    max-width: 180px;
    padding: 5px 10px;
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
}
.left .home_link1 {
    color: var(--white);
    font-weight: 300;
}
.home_btn1 {
    background-color: var(--primary);
    border: none;
}
/* End Section 1 */
/* Start Section 2 */
.section2 {
    margin-top: 50px;
    background-color: var(--primary);
}
@media (max-width: 477px) {
    .section2 .services_container {
        display: flex;
        flex-direction: column;
    }
    .services {
        width: 100%;
        margin-bottom: 30px;
        margin-left: 60px;
    }
    .services h3 {
        font-size: 20px;
        font-weight: 500;
        margin-top: 12px;
    }
    .services p {
        font-weight: 500;
        font-size: 11px;
        margin-top: 6px;
        width: 150px;
    }
    .consult_items {
        height: 45vh;
        flex-direction: column;
    }
}
@media (max-width: 767px) {
    .consult_items {
        width: 100%;
        height: 355px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
    }
    .section2 .services_container {
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 768px) {
    .consult_items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
    }
    .section2 .services_container {
        height: 185px;
        padding-bottom: 30px;
    }
    .services h3 {
        font-size: 27px;
        font-weight: 500;
        margin-top: 12px;
        
    }
}
.section2 .services_container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-left: auto;
    margin-right: auto;
}
.consult_items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
}
.section2 .consult {
    width: 110px;
    height: 100px;
    border: none;
    border-radius: 10px;
    background-color: var(--white);
    color: var(--defaultLinkColor);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.consult_icons {
    height: 26px;
}

.consult_icons_date {
    width: 28px;
}
.consult_icons_date {
    width: 28px;
    position: relative;
    top: -25px;
    left: 38px;
}
.appoinment-date {
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    position: relative;
    top: 26px;
    right: 13px;
}
.services h3 {
    margin: 0;
    color: var(--white);
    font-weight: 500;
    text-align: left;
}
.services p {
    font-weight: 400;
    text-align: left;
    color: var(--white);
    font-size: 14px;
    margin-top: 8px;
} 
/* End Section 2 */
.regroup {
    width: 100%;
    display: flex;
} 
@media (max-width: 767px) {
    .regroup {
        display: flex;
        flex-direction: column;
    }
    .provide_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 15px;
    }
    .provide_title {
        font-size: 14px;
        font-weight: 500;
        text-align: center;
    }
     .doctor_vector_parent {
        width: 80%;
        height: 60vh;
    }
    .provide_left {
        width: 100%;
    }
    .key {
        font-size: 30px;
        font-weight: 600;
        padding-top: 40px;
        text-align: center;
    }
}
    .doctor_vector {
        width: 80%;
        height: 55%;
        margin-top: 60px;
    }
    .provide_services {
        width: 100%;
        position: relative;
        padding-top: 50px;
        padding-left: 20px;
    }
@media (min-width: 768px) {
    .doctor_vector_parent {
        width: 33%;
        height: 390px;
    }
    .doctor_vector {
        width: 80%;
        height: 55%;
        margin-top: 80px;
        margin-left: 26px;
    }
    .provide_title {
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        margin-right: 100px;
    }
    .doctor_vector_parent {
        height: 60vh;
    }
    .provide_container {
        display: flex;
        flex-direction: row;
        width: 70%;
        margin-left: 60px;
        justify-content: space-evenly;
        align-items: center;
    }
    .provide_left {
        width: fit-content;
    }
    .key {
        font-size: 35px;
        font-weight: 600;
        padding-top: 40px;
        text-align: center;
    }
}
.doctor_vector_parent {
    display: flex;
    justify-content: center;
    background-color: var(--whiteBG);
    border-bottom-right-radius: 110px;
    position: relative;
}
.doctor_vector {
    height: 55%;
    margin-left: 26px;
}
.provide_right div { 
    display: flex;
    margin-top: 20px;
}
.provide_left div { 
    display: flex;
    margin-top: 20px;
}
.provide_right {
    width: fit-content;
}
.provide_left p {
    font-size: 15px;
    font-weight: 400;
    padding-left: 6px;
}
.provide_right p {
    font-size: 15px;
    font-weight: 400;
    padding-left: 6px;
}
.privacy {
    width: 20px;
    display: block;
}

.provide_details {
    font-size: 16px;
    font-weight: 500;
    color: var(--defaultLinkColor);
}
.provide_title {
    font-size: 20px;
    margin-bottom: 20px;
}
.shield1 {
    grid-column: 1;
    grid-row: 1;
}
.shield2 {
    grid-column: 1;
    grid-row: 2;
}
.shield3 {
    grid-column: 1;
    grid-row: 3;
}
.shield4 {
    grid-column: 1;
    grid-row: 4;
}
.shield5 {
    grid-column: 2;
    grid-row: 5;
}
.shield6 {
    grid-column: 2;
    grid-row: 6;
}
.shield7 {
    grid-column: 2;
    grid-row: 7;
}
.shield8 {
    grid-column: 2;
    grid-row: 7;
}
.feature_edit {
    color: var(--yellow);
}
.feature_separator {
    width: 100%;
    height: 1px;
    margin-top: 1px;
    border: none;
    background-color: var(--silver);
}
/* Start Section 4 */
#section4 {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    padding-top: 18px;
}
@media (max-width: 768px) {
    .technologies {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        column-gap: 20px;
        align-items: center;
        padding-bottom: 10px;
        padding-left: 18px;
    }
    .feat_img6 {
        height: 40px;
    }
    .feat_img {
        width: 25%;
        display: flex;
        margin: 12px auto;
    }
    .provided_tech {
        width: 180px;
        max-height: 170px;
        border-radius: 10px;
        background-color: var(--whiteBG);
        color: var(--muted);
        padding-bottom: 25px;
        margin-bottom: 25px;
        border: 1px solid var(--silver);
    }
    .provided_tech h2 {
        font-size: 13px;
    }
    .provided_tech p {
        font-size: 8px;
    }
    .feat_img5{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .glor1 {
        font-size: 28px;
    }

}
@media (min-width: 767px) {
    .technologies {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 30%);
        grid-template-rows: repeat(2, 1fr);
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 10px;
    }
    .provided_tech {
        width: 285px;
        height: 40vh;
        border-radius: 10px;
        background-color: var(--whiteBG);
        color: var(--muted);
        padding-bottom: 25px;
        margin-bottom: 25px;
        border: 1px solid var(--silver);
    }
    .provided_tech h2 {
        font-size: 18px;
    }
    .provided_tech p {
        font-size: 12px;
    }
    .feat_img5 {
        margin-top: 35px;
        margin-bottom: 38px;
    }
    .feat_img6 {
        height: 15vh;
    }
    .feat_img {
        width: 25%;
        display: flex;
        margin: 20px auto;
    }
    .glor1 {
        font-size: 35px;
    }
}
.technologies {
    width: 100%;
    padding-bottom: 10px;
}
.provided_tech p {
    text-align: center;
    font-weight: 400;
}
.provided_tech h2 {
    text-align: center;
    color: var(--defaultLinkColor);
    padding-bottom: 10px;
}
.feat_img3 {
    margin-bottom: 15px;
}
.feat_img2 {
    margin-bottom: 30px;
}
.glor1 {
    font-weight: 600;
    text-align: center;
}
.glor_separator {
    width: 100%;
    height: 1px;
    background-color: var(--silver);
    border: none;
    margin-bottom: 6px;
}
.glor1 span {
    color: var(--yellow);
}
/* End Sction 4 */
/* Start Section 5 */
.section5 {
    width: 100%;
}
@media (max-width: 768px) {
    .smiley_patient img {
        display: none;
    }
    .smiley_patient {
        display: none;
    }
    .history {
        width: 80%;
        background-color: var(--whiteBG);
        border-radius: 8px;
        padding: 27px;
        margin-top: 12px;
        border: 1px solid var(--silver);

    }
    .sec5_container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width: 767px) {
    .sec5_container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .history {
        width: 45%;
        height: 45vh;
        background-color: var(--whiteBG);
        border-radius: 8px;
        padding: 27px;
        margin-right: 30px;
        margin-top: 12px;
        border: 1px solid var(--silver);
    }
}
.sec5_container {
    padding-bottom: 30px;
}
.smiley_patient {
    margin-top: 23px;
    width: 36%;
}
.smiley_patient img {
    width: 88%;
    height: 40vh;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 12px;
}

.history h4 {
    font-size: 17px;
    font-weight: 500;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 15px;
}
.history p {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: var(--muted);
    display: inline;
}
/* End Section 5 */
/* Start Section 6 */
#docs_section6 {
    width: 100%;
}
@media (min-width: 767px) {
    .section6_container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .docs_profiles {
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .sec7_container .right {
        margin-right: 40px;
    }
}
@media (max-width: 768px) {
    .docs_profiles {
        width: 76%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }
    .doc_profile {
        margin-bottom: 15px;
    }
}
.section6_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.doc_profile {
    width: 200px;
    border: 1px solid var(--silver);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 18px;
    padding-top: 5px;
}
.doc_profile img {
    width: 70%;
    margin-bottom: 18px;
}
.doc_profile h3 {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}
.doc_profile p {
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    color: var(--muted);
    white-space: pre-line;
    margin-top: -15px;
}
.doc_profile button {
    width: 60%;
    height: 38px;
    background-color: var(--white);
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 6px;
    margin-top: 18px;
}
/* End Section 6 */
/* Start Section 7 */
.section_seven {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.sec7_container .right {
    width: 48%;
    margin-bottom: 13px;
}
.sec7_container .left {
    width: 48%;
    margin-bottom: 13px;
}
@media (max-width: 768px) {
    .patient_img {
        display: none;
    }
    .sec7_container .left {
        display: none;
    }
    .input_raw {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
    .text_zone {
        width: 85%;
    }
    .input_group {
        width: 100%;
    }
    .sec7_container .right {
        width: 100%;
    }
    .checkox_container p {
        font-size: 12px;
    }
    .checkox_container {
        width: 85%;
    }
    #confirm {
        width: 80%;
    }
}
@media (min-width: 767px) {
    .patient_img {
        width: 70%;
        height: 82vh;
        border-radius: 18px;
    }
    .input_raw {
        width: 50%;
    }
    .text_zone {
        width: 100%;
    }
    .checkox_container p {
        font-size: 14px;
    }
    .checkox_container {
        width: 100%;
    }
    #confirm {
        width: 95%;
    }
}
.sec7_container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto 20px auto;
}
#input_group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
label {
    font-size: 15px;
    margin-bottom: 2px;
}
.input_raw {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}
.input_raw input, .input_raw .iden2 {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 10px;
    color: var(--muted);
    border: 1px solid var(--muted);
    outline: none;
}
.docs {
    padding-right: 12px;
}
.input_raw textarea {
    width: 100%;
    height: 120px;
    border: 1px solid var(--muted);
    resize: none;
    border-radius: 5px;
    padding-left: 12px;
    padding-top: 8px;
    font-size: 15px;
    color: var(--muted);
    outline: none;
}
.checkox_container {
    display: flex;
    flex-direction: row;
    padding-left: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
}
.checkbox {
    margin-right: 8px;
}
#confirm {
    height: 43px;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.country {
    position: relative;
}
.country input {
    padding-left: 52px;
}
.iden1 {
    position: absolute;
    left: 11px;
    top: 24px;
    border-radius: 4px;
    bottom: 0;
    background: transparent;
    border: none;
    padding-left: 6px;
    height: 34px;
    outline: none;
}
.glor_separator {
    width: 100%;
    height: 1px;
    border: none;
    background-color: var(--silver);
}
/* End Section 7 */
/* Start Sction 8 */
@media (min-width: 767px) {
    #last_section form {
    display: flex;
    justify-content: center;
    }
    .subscribe_Container h1 {
        font-size: 29px;
        padding-top: 29px;
        padding-bottom: 25px;
    }
    #last_form {
        width: 100%;
    }
    #last_form #last_input {
        width: 20%;
        height: 39px;
        margin-right: 17px;
    }
    #last_section button {
        width: 19%;
    }
    .subscribe_Container {
        width: 80%;
        height: auto;
        padding-bottom: 60px;
    }
    .background {
        background-color: var(--whiteBG);
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .contact_info {
        height: 300px;
    }
    .contact_info .contact_container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    .social_sep {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .social_sep img{
        margin-bottom: 30px;

    }
    .endo2 p {
        margin-left: 50px;
    }
    .endo2 h2 {
        margin-left: 50px;
        margin-top: 42px;
        margin-bottom: 42px;
    }
    .social_sep_last p {
        font-size: 14px;
        margin-left: 50px;
    }
    .contact_info {
        margin-top: 50px;
        padding-top: 30px;
    }
    .devider {
        height: 212px;
        width: 1px;
    }
    footer p {
        font-size: 16px;
    }
    
}
.side_bar {
    display: none;
}
@media (max-width: 768px) {
    #last_section form {
        display: flex;
        flex-direction: column;
    } 
    .subscribe_Container {
        height: 48vh;
    }
    .subscribe_Container h1 {
        font-size: 20px;
        padding-top: 30px;
        padding-bottom: 15px;
    }
    #last_section {
        padding-top: 10px;
    }
    #last_form {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    #last_form #last_input {
        width: 80%;
        height: 39px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 13px;
    }
    .background button {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .background {
        background-color: var(--whiteBG);
        height: 54vh;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .contact_info {
        height: auto;
        padding-bottom: 12px;
    }
    .contact_info .contact_container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }
    .social_sep {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .endo1 p {
        font-size: 14px;
        color: var(--white);
        white-space: pre-line;
        margin-top: 13px;
        line-height: 2;
        font-weight: 300;
        margin-left: 40px;
    }
    .contact_info .contact_container {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .social_sep img{
        margin-bottom: 15px;
        margin-left: 40px;
    }
    .endo2 p {
        margin-left: 40px;
    }
    .endo2 h2 {
        margin-left: 40px;
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .social_sep_last p {
        margin-left: 40px;
    }
    .contact_info {
        margin-top: 5px;
        padding-top: 10px;
    }
    .devider {
        height: 1px;
        width: 100%;
    }
    footer p {
        font-size: 14px;
    }
}
#last_section {
    width: 100%;
    padding-top: 18px;
}
.subscribe_Container {
    width: 80%;
    border-radius: 15px;
    background-color: #216583;
    margin-left: auto;
    margin-right: auto;
    
}
#last_form #last_input {
    height: 39px;
    border: none;
    border-radius: 4px;
    padding-left: 13px;
    background-color: rgba(255, 255, 255, 0.295);
    outline: none;
    cursor: pointer;
    color: white;
}
#last_form #last_input::placeholder {
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 300;
  }
  .background button {
    height: 39px;
    border: none;
    border-radius: 4px;
    background-color: var(--white);
    color: var(--defaultLinkColor);
    text-align: center;
}
.subscribe_Container h1 {
    color: var(--white);
    text-align: center;
    font-weight: 500;
}
.contact_info {
    width: 100%;
    background-color: #516eff;
}
.social_sep img{
    width: 150px;
    filter: brightness(10);
}
.endo1 p {
    font-size: 14px;
    color: var(--white);
    white-space: pre-line;
    /* margin-top: 40px; */
    line-height: 2;
    font-weight: 300;
}
.endo2 p {
    font-size: 14px;
    color: var(--white);
    font-weight: 300;
}
.endo2 h2 {
    font-size: 20px;
    color: var(--white);
    white-space: pre-line;
    font-weight: 500;
}
.link {
    font-size: 14px;
    color: var(--white);
    margin-left: 40px;
    font-weight: 300;
}
.social_sep .a_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 40px;
    margin-top: 40px;
}
.a_container a {
    font-size: 14px;
    color: var(--white);
    font-weight: 300;
    line-height: 2.2;
}
.social_sep_last p {
    font-size: 14px;
    color: var(--white);
    font-weight: 300;
}
.helloemail  {
    margin-top: 45px;
    margin-bottom: 20px;
}
.adress {
    margin-bottom: 8px;
}
.location {
    white-space: pre-line;
}
.devider {
    background-color: var(--white);
    opacity: 0.3;
    border: none;
}
/* End Sction 8 */
/* Start Sction 11 */
/* Start Sction 11 */
/* Start Sction 12 */

/* Start Sction 12 */
/* Start Sction 13 */

/* End Sction 13 */
/* Start Footer */
footer {
    width: 100%;
    height: 60px;
    background-color: #216583;
    color: var(--white);
    text-align: center;
    padding-top: 17px;
    font-weight: 300;
}
/* End Footer */








/* Responsive */
@media (max-width:964px) {
    .toggle_menu {
        display: flex;
        height: 40px;
        width: 40px;
         display: flex;
         align-items: center;
         justify-content: center;
         position: relative;
         cursor: pointer;
    }
    .toggle_menu::before {
        position: absolute;
        content: "";
        height: 3px;
        width: 28px;
        background-color: #27ae60;
        border-radius: 6px;
        box-shadow: 0 10px 0 #27ae60;
        transform: translateY(-10px);
        transition: 0.5s;
    }
    .toggle_menu.active::before {
        transform: translateY(0) rotate(135deg);
        box-shadow: 0 0 0 #27ae60
    }
    .toggle_menu::after {
        position: absolute;
        content: "";
        height: 3px;
        width: 28px;
        background-color: #27ae60;
        border-radius: 6px;
        transform: translateY(10px);
        transition: 0.5s;
    }
    .toggle_menu.active::after {
        transform: translateY(0) rotate(-135deg);
      
    }
    header .menu.responsive {
        display: flex;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        flex-direction: column;
    }
    header .menu.responsive li {
        margin: 15px 0;
    }

}
